{{!< default}}

<article class="post clearfix">

    {{#author}}
        {{#if profile_image}}
            <img id="photo" src="{{img_url profile_image}}" alt={{name}} />
        {{/if}}
        <div id="details">
            <header>
                <h1>{{name}}</h1>
            </header>
            <section id="post-body">
                <h2 class="headline">{{bio}}</h2>
            </section>
        </div>

    {{/author}}

</article>

{{> excerpts}}
